.gradient {
  position: absolute;
  z-index: -2;
  background-clip: content-box !important;
}

.upsell {
  .gradient-pink {
    top: -3%;
    left: -7%;
    background: #ff3998;
    filter: blur(50px);

  }

  .gradient-orange {
    opacity: 1;
    background: linear-gradient(0deg, #ff8139, #ff8139), #ff8139;
    filter: blur(292px);

  }

  .gradient-green {
    top: -90%;
    right: -25%;
    background: #39ffa0;
    filter: blur(160px);
  }

  .gradient-red {
    bottom: -10%;
    left: 2%;
    background: #ff3939;
    filter: blur(292px);


  }

  .gradient-pink-sm {
    width: 326px;
    height: 326px;
  }

  .gradient-red-lg,
  .gradient-orange-lg {
    width: 993px;
    height: 993px;
  }

  .gradient-green-sm {
    width: 491px;
    height: 491px;
  }

}

.section-card {
  .gradient-pink {
    top: 75%;
    right: -10%;
    background: #ff3998;
    filter: blur(223px);
  }

  .gradient-pink-lg,
  .gradient-orange-lg {
    width: 488px;
    height: 488px;
  }

  .gradient {
    z-index: 1;
  }

  .gradient-orange {
    top: 80%;
    left: -10%;
    background: #ff8139;
    filter: blur(237px);
  }

  @media (max-width: 991px) {

    .gradient-orange,
    .gradient-pink {
      top: auto;
      left: auto;
    }

    .gradient {
      top: -50%;
      right: -50%;
    }

  }

}

.hero,
.footer-hero {
  .gradient {
    transform: translate(-50%, -50%);
    border-radius: 50%;

  }

  .gradient-pink {
    top: 50%;
    right: 0;
    background: #ff3998;
    filter: blur(70px);

  }

  .gradient-orange {
    top: 70%;
    right: 15%;
    background: linear-gradient(0deg, #ff8139, #ff8139), #ff8139;
    filter: blur(100px);
  }

  .gradient-pink-lg {
    width: 312px;
    height: 312px;
  }

  .gradient-orange-lg {
    width: 217px;
    height: 217px;
  }

  @media (max-width: 1200px) {
    .gradient-orange {
      top: 70%;
      right: 10%;
    }

    .gradient-pink {
      top: 50%;
      right: 0;
    }

  }

  @media (max-width: 992px) {
    .gradient-orange-lg {
      width: 152px;
      height: 152px;
    }

    .gradient-pink-lg {
      width: 218px;
      height: 218px;
    }

    .gradient-orange {
      top: 40%;
      right: -25%;
    }

    .gradient-pink {
      top: 40%;
      right: -40%;
      filter: blur(50px);
    }

  }

  @media (max-width: 767px) {
    .gradient-orange {
      top: 40%;
      right: -40%;
    }

    .gradient-pink {
      top: 40%;
      right: -60%;
    }
  }

}

.footer-hero {

  .gradient-pink {
    top: 60%;
    right: 0;
  }

  .gradient-orange {
    top: 80%;
    right: 15%;
  }

  @media (max-width: 1200px) {
    .gradient-orange {
      top: 80%;
      right: 7;
    }

    .gradient-pink {
      top: 65%;
      right: -2%;
    }

  }

  @media (max-width: 992px) {
    .gradient-orange-lg {
      width: 152px;
      height: 152px;
    }

    .gradient-pink-lg {
      width: 218px;
      height: 218px;
    }

    .gradient-orange {
      top: 70%;
      right: 10%;
    }

    .gradient-pink {
      top: 65%;
      right: 0;
    }

  }

  @media (max-width: 767px) {
    .gradient-orange-lg {
      width: 152px;
      height: 152px;
    }

    .gradient-pink-lg {
      width: 218px;
      height: 218px;
    }

    .gradient-orange {
      top: 85%;
      right: -35%;
    }

    .gradient-pink {
      top: 65%;
      right: -47%;
    }

  }


}
