/*Hero Section*/

$mobile: 575.98px;
$tablet: 767.98px;
$laptop: 991.98px;
$desktop: 1199.98px;
$padding-section-mobile: 64px 32px 66px 32px;

.hero {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: calc(100vh - 60px);

  &__label {
    margin: 0 0 24px;

    font-size: 16px;
    font-weight: 700;
    color: #ff3998;
    text-transform: uppercase;
    letter-spacing: 0.1em;

  }

  &__title {
    margin: 0 0 32px;
    font-size: 96px;
    font-weight: 900;

  }

  &__text {
    margin: 0 0 41px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--font-color1);
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      // max-width: 328px;
      min-width: 578px;
    }

  }

  @media (max-width: $tablet) {

    &__title {
      font-size: 48px;
    }

    &__image {
  
      > img {
        top: 0;
        left: 100%;
        transform: translate(-50%, -17%);
        min-width: 320px;
      }
    
    }
  }

}

.footer-hero {
  height: 100%;

  &__container {
    padding: 120px 0 122px !important;
    border-top: 2px solid var(--bg-small-card-color1);
    border-bottom: 2px solid var(--bg-small-card-color1);
    
  }

  &__title {
    margin: 0 0 24px;
    font-size: 56px;
  }

  &__image {
    picture {
      position: absolute;
      bottom: -123px;
      display: block;
      width: 100%;
    }

    & > picture:nth-child(1) {
      z-index: 9;
    }

    & > picture:nth-child(2) {
      z-index: 8;
    }

    & > picture:nth-child(3) {
      left: -150px;
    }

    img {
      min-height: 467px;
    }
  }

  &__main-img {
    z-index: 999;
    display: block;
    margin: 0 auto;
  }

  &__footer-bg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet) {
    
    &__container {
      padding: 0 !important;
      border: none;
    }
  }

  @media (max-width: $tablet) {
    border-top: 2px solid var(--bg-small-card-color1);
    border-bottom: 2px solid var(--bg-small-card-color1);
  }

}
